.menu-konteks {
    width: 200px;
}

.menu-konteks .benda {
    padding: 8px 10px;
    font-size: 25px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.menu-konteks .benda:hover {
    background-color: white;
    cursor: default;
}

.menu-konteks .benda i {
    display: inline-block;
    margin-right: 5px;
    
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: rgb(204, 204, 204);
}

html::-webkit-scrollbar-thumb {
  background: #b1b1b1;
  border-radius: 25px;
}


@media screen and (max-width: 994px) and (min-width: 768px) {
    .crafting-breakpoint {
        transform: scale(1.25) translateY(22px);
        margin-bottom: 3rem;
        
    }
    .cooking-table-breakpoint {
        transform: scale(2); 
        margin: 5rem;
    }
    #sub-title-breakpoint {
        padding: 0 120px 0;
    }
}

@media screen and (min-width: 995px) {
    .crafting-breakpoint {
        transform: scale(1.70) translateY(30px);
        margin-bottom: 3rem;
        
    }
    .cooking-table-breakpoint {
        transform: scale(2); 
        margin: 5rem;
    }
    
}
@media screen and (min-width: 476px) and (max-width: 767px) {
    .crafting-breakpoint {
        transform: scale(1.7) translateY(30px);
        margin-bottom: 3rem;
    }
    .cooking-table-breakpoint {
        transform: scale(1.75) translateY(32px);
        margin-bottom: 8rem;
    }
}
@media screen and (max-width: 475px) {
    .crafting-breakpoint {
        transform: scale(1.25) translateY(22px);
        margin-bottom: 10px;

    }
    .cooking-table-breakpoint {
        transform: scale(1.25) translateY(22px);
        margin-bottom: 60px;
        margin-left: 3rem;
    }
}
@media screen and (min-width: 995px) and (max-width: 1273px) {
    #sub-title-breakpoint {
        padding: 0 229px 0;
    }
}

@media screen and (min-width: 1274px) {
    #sub-title-breakpoint {
        padding: 0 274px 0;
    }
}

.tab-content {
    transition: 1s;
}

.active {
    transition: 1s;
}